name: upload-server-widget pipe ECR
on: 
  push: 
    branches:
      - "main"

jobs:
  Build:
    name: Build
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: upload_server_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: ${{ vars.DATABASE_URL }}

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4

        # 1) Copiar .env.test aqui
      - name: Copy test env
        run: cp .env.test.example .env.test

      - name: Configure Node
        id: configure-node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Install pnpm
        id: install-pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 8

        # 2) Instalar dependências
      - name: Install dependencies
        id: install-dependencies
        run: |
          pnpm install

        # 3) Subir serviços (ex: postgres)
      - name: Start DB
        run: docker-compose up -d

        # 4) Rodar migrações
      - name: Run migrations
        run: npm run migrate:test

      - name: Run tests
        run: pnpm run test

      - name: Configure AWS Credentials
        id: configure-aws-credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Login to AWS ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Generate tag
        id: generate-tag
        run: |
          SHA=$(echo $GITHUB_SHA | head -c7)
          echo "sha=$SHA" >> $GITHUB_OUTPUT


      - name: Build and push the image to AWS ECR
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: |
            ${{steps.login-ecr.outputs.registry}}/${{ vars.ECR_REPOSITORY }}:test

      - name: Run Trivy scanner
        id: run-trivy-scanner
        uses: aquasecurity/trivy-action@0.30.0
        with:
          image-ref: '${{steps.login-ecr.outputs.registry}}/${{ vars.ECR_REPOSITORY }}:test'
          format: 'table'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH,MEDIUM,LOW'

      - name: Build and push the image to AWS ECR
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{steps.login-ecr.outputs.registry}}/${{ vars.ECR_REPOSITORY }}:${{ steps.generate-tag.outputs.sha }}

      # - name: Build and push the image to AWS ECR
        # id: build-push-image
        # env:
        #   ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry}}
        #   ECR_REPOSITORY: ${{ vars.ECR_REPOSITORY }}
        #   IMAGE_TAG: ${{ steps.generate-tag.outputs.sha }}
        # run: |
        #   docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        #   docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG